.home-container {
  flex: 1;
  overflow: hidden;
  .home-title {
    font-size: 20px;
    text-align: center;
  }
  .heading-container {
    text-align: center;
  }
  .row {
    text-align: center;
  }
}
